.item-container {
    width:31%;
    float:left;
    display: inline-block;
    background: #fff;
    border: 1px solid #dedede;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.item-container .button-primary {
    margin: 2px;
}
.item-container .button-secondary {
    margin: 2px;
}
.item-container .theme-screenshot {
    width:100%;
    border-bottom: 4px solid #f6f6f6;
}
.item-container .item-description {
    margin: 0px;
    padding: 15px;
    color: #888;
    border-bottom: 1px solid #dedede;
}
.plugin.item-container  .item-description {
    margin: 0px;
    padding: 15px;
    color: #888;
    border-top: 1px solid #dedede;
    border-bottom: 0;
}
.item-container .item-details {
    padding: 15px;
    line-height: 28px;
}
.item-container .item-name {
    font-weight: bold;
    font-size: 1.1em;
}
.item-container .item-details.active .item-status {
    color: #0074a2;
}
.item-container .item-details .item-status {
    display: inline-block;
    border: 1px solid #27ae60;
    color: #27ae60;
    font-size: 13px;
    line-height: 24px;
    padding: 1px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: right;
}
.item-container .item-buttons {
    display: inline-block;
    float: right;
}

.last {
    margin-right: 0!important;
}
/* Responsive css */
@media only screen and (max-width: 959px) {
.item-container {
        width:99%;
    }
.about-wrap .one-col>div, .about-wrap .three-col>div, .about-wrap .two-col .col:nth-of-type(n), .about-wrap .two-col>div {
    margin: 5px 0 0;
    padding: 0 0 15px;
    }
}
